<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!--
        内容
        颜色块
        间距
        边框
    -->
    <!-- #region 头部 独立层给一个#id-->
    <div id="headMessage"></div>
    <!-- 头部广告-->
    <div id="headAd"></div>
    <!-- 头部搜索-->
    <div id="headSearch">dsf</div>
    <!--main 首屏内容-->
    <div id="firstScreen">sdf</div>
    <!--有好货和爱逛街-->
    <div id="layer">sfd</div>
    <!--导航-->
    <div id="tool"></div>
    <!---->
    <!---->
    <!---->
</body>
</html>