<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>doc</title>
	<link rel="stylesheet" type="text/css" href="doc.css">
</head>
<body>
	<div class="wrapper">
		<em>1</em>
		<strong class="box">
			<em>234</em>
		</strong>
	</div>
	<em>123</em>
	
	并列选择器
	<div>1</div>
	<div class="demo">2</div>
	<p class="demo">2</p>
	权重问题
	
	<div class="classDiv" id="idDiv">
		<p class="classP" id="idP">1</p>
	</div>
	
	共用代码块 分组选择器
	<em>1</em>
	<strong>31</strong>
	<span>2</span>
	
	代码块讲解
	
	<div class="div_tran"> 
	</div>
	
	<div class="div_buju">
		'HBuilder，200万开发者选择的IDE',
		'MUI，轻巧、漂亮的前端开源框架',
		'wap2app，M站快速转换原生体验的App',
		'5+Runtime，为HTML5插上原生的翅膀',
		'HBuilderX，轻巧、极速，极客编辑器',
		'uni-app，终极跨平台方案',
		'HBuilder，200万开发者选择的IDE',
		'MUI，轻巧、漂亮的前端开源框架',
		'wap2app，M站快速转换原生体验的App',
		'5+Runtime，为HTML5插上原生的翅膀',
		'HBuilderX，轻巧、极速，极客编辑器',
		'uni-app，终极跨平台方案',
		'......'
	</div>
	删除线
	<div class="div_decoration" >
		原价50元
	</div>
	<div class="div_underline" >
		www.baidu.com
	</div>
	伪类选择器
	<a>www.baidu.com</a>
	<a>www.taobao.com</a>
	<a>www.jd.com</a>
	
	行级元素
	<span>2322</span>
	块级元素
	<div>123</div>123
	
	五环
	<div class="circle_box" style="width:100px;
	height:100px;
	border:10px solid black;
	border-radius:50%;"></div>
	<div class="circle_box">2</div>
	<div class="circle_box">3</div>
	<div class="circle_box">4</div>
	<div class="circle_box">5</div>
	
</body>
</html>