<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>doc</title>
	<link rel="stylesheet" type="text/css" href="wuhuancss.css">
</head>
<body>

	
	<div class="plat">
		<div class="circle1"></div>
		<div class="circle2"></div>
		<div class="circle3"></div>
		<div class="circle4"></div>
		<div class="circle5"></div>
	</div>
	<!--<div class="plat1">
		<div class="circle_box wuhuan_blue"></div>
		<div class="circle_box wuhuan_yellow"></div>
		<div class="circle_box wuhuan_black"></div>
		<div class="circle_box wuhuan_green"></div>
		<div class="circle_box wuhuan_red"></div>
	</div>-->
	
	
</body>
</html>